
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col centrar">
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="cd" placeholder="Nombre Ciudad" aria-label="" aria-describedby="basic-addon1">
                <div class="input-group-append">
                  <button class="btn btn-dark" type="button" (click)="buscar()">Buscar</button>
                </div>
              </div>
              <small class="margen" style="color: red">{{mensaje}}</small>
              
        </div>
        <div class="col"></div>
    </div>
    <div class="row" *ngIf="encontro == 'si' && cd != ''">
        <table class="table table-hover margen centrar">
            <thead class="thead-dark text-light">
              <tr>
                <th><h2>CIUDAD</h2></th>
                <th><i class="fas fa-users fa-3x"></i></th>
                <th><i class="fas fa-female fa-3x" style="color: palevioletred;"></i></th>
                <th><i class="fas fa-male fa-3x" style="color: rgb(64, 156, 241)"></i></th>
              </tr>
            </thead>
            <tbody *ngFor=" let ciudad of ciudad">
              <tr>
                <th scope="row"> {{ciudad.nom_agee}} </th>
                <td> {{ciudad.pob}} </td>
                <td> {{ciudad.pob_fem}} </td>
                <td> {{ciudad.pob_mas}} </td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="row">

        <table class="table table-hover margen centrar">
            <thead class="thead-light">
              <tr>
                <th><h2>CIUDAD</h2></th>
                <th><i class="fas fa-users fa-3x"></i></th>
                <th><i class="fas fa-female fa-3x" style="color: palevioletred;"></i></th>
                <th><i class="fas fa-male fa-3x" style="color: rgb(64, 156, 241)"></i></th>
              </tr>
            </thead>
            <tbody *ngFor=" let ciudad of datos">
              <tr>
                <th scope="row"> {{ciudad.nom_agee}} </th>
                <td> {{ciudad.pob}} </td>
                <td> {{ciudad.pob_fem}} </td>
                <td> {{ciudad.pob_mas}} </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
